@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

/* General styles */
* {
	font-family: 'Akshar', sans-serif;
}

/* Navbar styles */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.navbar {
	display: inline-block;
	margin-right: 10px;
}

li.navbar-right {
	float: right;
}
